[submodule "external/simpleble"]
	path = external/simpleble
	url = https://github.com/simpleble/simpleble.git
[submodule "external/recsrmesh"]
	path = external/recsrmesh
	url = https://github.com/oyvindkinsey/recsrmesh-cpp.git
